<ion-content>
  <div class="banner-img h30">
    <img [src]="data?.img" alt="">
    <ion-buttons>
      <ion-button (click)="global.closeModal()">
        <ion-icon color="light" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div *ngIf="data?.status" id="status">
      {{data?.status}}
    </div>
  </div>
  <div class="item-info ion-padding mt30">
    <div>
      <div class=" text ion-no-padding">
        <b class="fs18 fw600 name">{{data?.title}}</b><br> <br>
        <span class="fs14 fw400 gray-text ">{{data?.time}}</span>
      </div>
    </div>
    <ion-label class="fs20 fw400">{{data?.price}}</ion-label>
  </div>
</ion-content>
<ion-footer class="ion-padding">
  <!-- <div class="icon-div">
    <ion-icon name="remove-circle-outline" (click)="sub('item')"></ion-icon>
    <span>{{selectedItems?.item?.count}}</span>
    <ion-icon name="add-circle-outline" (click)="add('item')"></ion-icon>
  </div> -->
  <ion-item class="mv10" lines="none" class="fs14">
    <ion-icon id="person" name="human"></ion-icon>
    &nbsp;<span class="fs14 fw600">Adult</span>&nbsp; <span class="fs12 fw400 gray-text">(Age > 12)</span>
    <div class="fd-row" slot="end">
      <ion-icon class="add-sub" (click)="sub('adult')" name="remove-circle-outline"></ion-icon>
      <span class="fs14 fw600 count">{{selectedPeople?.adult?.count}}</span>
      <ion-icon class="add-sub" (click)="add('adult')" name="add-circle-outline"></ion-icon>
    </div>
    <ion-label class="item-end-label" slot="end">${{selectedPeople?.adult?.price}}</ion-label>
  </ion-item>
  <ion-item class="mv10" lines="none" class="fs14">
    <ion-icon id="person" name="child"></ion-icon>
    &nbsp;<span class="fs14 fw600">Child</span>&nbsp; <span class="fs12 fw400 gray-text">(Age > 12)</span>
    <div class="fd-row" slot="end">
      <ion-icon class="add-sub" (click)="sub('child')" name="remove-circle-outline"></ion-icon>
      <span class="fs14 fw600 count">{{selectedPeople?.child?.count}}</span>
      <ion-icon class="add-sub" (click)="add('child')" name="add-circle-outline"></ion-icon>
    </div>
    <ion-label class="item-end-label" slot="end">${{selectedPeople?.child?.price}}</ion-label>
  </ion-item>
  <ion-button fill="clear" expand="block" class="dark-btn w100 light-text" *ngIf="viewOrderBtn" (click)="next()">
    Add {{selectedPeople?.adult?.count + selectedPeople?.child?.count}} to order &nbsp;<span class="gray-text">${{selectedPeople?.adult?.price + selectedPeople?.child?.price}}</span>
  </ion-button>
</ion-footer>