<div class="main ion-padding">
  <ion-buttons id="close-icon">
    <ion-button (click)="global.closeModal()">
      <ion-icon class="dark-text" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div class="top-text mt20 fs20 fw600">
    3 tickets - Attendees
  </div>
  <ion-item lines="full" class="item-no-padding mt20">
    <ion-label slot="start" class="fs14 fw400">Gary Wilson</ion-label>
    <ion-chip  mode="ios" slot="start">
      <ion-label>Adult</ion-label>
    </ion-chip>
  </ion-item>
  <ion-item lines="full" class="item-no-padding mt20">
    <ion-label slot="start" class="fs14 fw400">Devon Lane</ion-label>
    <ion-chip  mode="ios" slot="start">
      <ion-label>child</ion-label>
    </ion-chip>
    <ion-label slot="end">Age: 7</ion-label>
  </ion-item>
</div>
