<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="back">
        <ion-icon class="dark-text" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="fd-col ion-text-center">
      <ion-icon name="bed-outline"></ion-icon>
      <ion-label>HouseKeeping</ion-label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="outer-div ion-padding mt20">
    <div
      class="item-div mt20"
      *ngFor="let item of arr;let i = index"
      (click)="open(item,i)"
    >
      <div class="icon-div">
        <ion-icon [name]="item.icon"></ion-icon>
      </div>
      <div class="lbls-div ml10">
        <ion-label class="fs14 fw700">{{item.name}}</ion-label>
        <ion-text class="fs12 ion-text-wrap grey-text mt5">
          {{item.desc}}
        </ion-text>
      </div>
    </div>
  </div>
</ion-content>
