<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button routerLink="/home" routerDirection="back">
        <ion-icon class="dark-text" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="fd-col ion-text-center">
      <ion-icon name="bed2"></ion-icon>
      <ion-label>Wellbeing</ion-label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="outer-div ion-padding mt20">
<div class="item-div mt20">
<div class="icon-div">
<ion-icon  name="plug-adopter" ></ion-icon>
</div>
<div class="lbls-div ml10" (click)="open(item)">
  <ion-label class="fs14 fw700">Plug adaptor</ion-label>
  <ion-text class="fs12 ion-text-wrap grey-text">
    Full line of universal travel adapters and iPhone chargers
  </ion-text>
</div>
</div>
<div class="item-div mt20">
  <div class="icon-div">
  <ion-icon  name="towel" ></ion-icon>
  </div>
  <div class="lbls-div ml10">
    <ion-label class="fs14 fw700">Fresh towel set</ion-label>
    <ion-text class="fs12 ion-text-wrap grey-text">
      Full line of universal travel adapters and iPhone chargers
    </ion-text>
  </div>
  </div>
  <div class="item-div mt20">
    <div class="icon-div">
    <ion-icon  name="minibar" ></ion-icon>
    </div>
    <div class="lbls-div ml10">
      <ion-label class="fs14 fw700">Mini bar refill </ion-label>
      <ion-text class="fs12 ion-text-wrap grey-text">
        Wine, whiskey, chips, nuts
      </ion-text>
    </div>
    </div>
    <div class="item-div mt20">
      <div class="icon-div">
      <ion-icon  name="bed-white" ></ion-icon>
      </div>
      <div class="lbls-div ml10">
        <ion-label class="fs14 fw700">Room issue</ion-label>
        <ion-text class="fs12 ion-text-wrap grey-text">
          Please write down your room issue before submit
        </ion-text>
      </div>
      </div>
</div>
</ion-content>
