.container {
    height: auto;
    min-height: 40%;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 24px;

   

    .lbls {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        
    }
    ion-button{
        width: 100%;
    }

}

img {
    width: 37.343px;
    margin: 5px 0;
} #sending {
    height: 100%;
    width: 100%;
    display: flex !important;
    align-content: center !important;
    justify-content: center !important;
    align-items: center !important;
    flex-wrap: nowrap !important;
    flex-direction: column !important;


}