<ion-content>
  <div [ngClass]="isCompleted && !isConfirmed ? 'app-bg':'bg-dark'" class="header-div light-text">
    <ion-buttons slot="start" class="padding">
      <ion-button routerLink="home" routerDirection="back">
        <ion-icon slot="start" [ngClass]="isCompleted && !isConfirmed ? 'dark-text':'light-text' " name="chevron-back">
        </ion-icon>
      </ion-button>
    </ion-buttons>
    <div *ngIf="!isConfirmed && !isCompleted" class="header-text ion-text-center">
      <ion-label class="fw700">Reservation Request Sent</ion-label>
      <br />
      <p class="fs12">Waiting for the restaurant to confirm your order...</p>
    </div>

    <div *ngIf="isConfirmed && !isCompleted" class="header-text ion-text-center">
      <ion-label class="fw700">Order Confirmed</ion-label>
      <br />
      <p class="fs12">Please see your reservation and attend the venue on time.</p>
    </div>

    <div *ngIf="isCompleted && !isConfirmed" class="header-text app-bg dark-text ion-text-center">
      <ion-label class="fw700">Order Completed</ion-label>
      <br />
      <p class="fs12">You don’t need to pay for anything until Checkout.</p>
    </div>
    <!-- <div *ngIf="!isCompleted" class="header-text ion-text-center">
      <ion-label class="fw700" >Order denied</ion-label>
      <br />
      <p class="fs12" >From the venue: “We are busy at this time, try another time slot.</p>
    </div> -->

    <ion-progress-bar type="determinate" [value]="progress" (ionChange)="progessChange($event)">
    </ion-progress-bar>
    <ion-icon *ngIf="isCompleted && !isConfirmed" class="tick app-bg" name="tick"></ion-icon>
  </div>
  <div class="bottom-main">
    <div class="info mt20">
      <div class="img-div">
        <img src="../../../assets/icon/dine-in.svg" />
      </div>
      <div class="text-div">
        <p>
          <ion-label class="fw700 fs16">Reservation Info</ion-label>
          <ion-label class="mt10 fs14">Mandhoo Restaurant </ion-label>
          <ion-label class="mt10 fs14">Fri | Oct 30, 2022 at 6:15 PM
          </ion-label>
          <ion-label class="mt10 fs14">3 seats</ion-label>
          <a href="" class="mt20"> Share the order to others</a>
          <a href="" class="mt10">Edit / Cancel this reservation</a>
        </p>
        <div class="line"></div>
      </div>
    </div>
    <div class="info">
      <div class="img-div">
        <img src="../../../assets/icon/contact.png" />
      </div>
      <div class="text-div">
        <p>
          <ion-label class="fw700 fs16">Contact Info</ion-label>
          <ion-label class="mt10 fs14">Gary Wilson </ion-label>
          <ion-label class="mt10 fs14">tedcc07@gmail.com</ion-label>
          <ion-label class="mt10 fs14">+1 825 3957 4432</ion-label>
        </p>
        <div class="line"></div>
        <ion-label class="mt20 fs14 fw600">Question with the order?</ion-label>
      </div>
    </div>
  </div>
</ion-content>