/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content {
  --background: #dfdfdb !important;
}

.no-scroll {
  --overflow: hidden !important;
}

.dark-btn {

  background: #1E1D20;
  border-radius: 2px 2px 22px 2px;

}

.fd-col {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.w80{
  width: 80%;
}
.w100{
  width: 100%;
}
.fd-row {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
}#close-icon{
  position: absolute;
  right: 5px;
  top: 10px;
}
.fs24{
  font-size: 24px;
}
.fs10 {
  font-size: 10px !important;
}

.fs12 {
  font-size: 12px !important;
}

.fs14 {
  font-size: 14px !important;
}

.fs16 {
  font-size: 16px !important;
}

.fs18 {
  font-size: 18px !important;
}

.fs20 {
  font-size: 20px !important;
}

.fs20{
  font-size: 20px;
}
.green-text {
  color: #a5b026 !important;
}

.gray-text {
  color: #716D75 !important;
}

.green-bg {
  background: #a5b026 !important;
  color: white;
}

.mv10 {
  margin: 10px 0;
}

.mv20 {
  margin: 20px 0;
}

.mt5 {
  margin-top: 5px;
}

.mb10 {
  margin-bottom: 10% !important;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.float-right {
  float: right;
}
.m0{
  margin: 0 !important;
}#btn-outline{
  border: 2px solid black;
  border-radius: 0px 0px 24px 0px;
  --border: 2px solid black;
  --border-radius: 0px 0px 24px 0px;
  height: 45px;

}.btn-black{
    background: black;
    border-radius: 0 0 24px 0;
    height: 45px;

}
.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.red-text {
  color: #c65c45 !important;
}

.hw24 {
  height: 24px !important;
  width: 24px !important;
}

.inf {
  display: inline-flex !important;
  flex-direction: row !important;
  align-content: center !important;
  align-items: center !important;
}

.dark-text {
  color: #1e1d20 !important;
}

.item-no-padding {
  --padding-start: 0 !important;
  --padding-end: 0 !important;
}

.fw600 {
  font-weight: 600 !important;
}

.fw700 {
  font-weight: 700 !important;
}

.fw400 {
  font-weight: 400 !important;
}

.fw300 {
  font-weight: 300 !important;
}

.ion-accordion-toggle-icon {
  display: none !important;
}

.spb {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.banner-img {
  height: 25%;
  width: 100%;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0.175) 20.04%,
      rgba(0, 0, 0, 0) 0%);

  img {
    height: 95%;
    width: 100%;
    border-radius: 24px 0px 0px 0px;
    object-fit: cover;
    margin-top: 5%;
  }

  ion-buttons {
    position: absolute;
    right: 10px;
    top: 5%;
  }
}

.h30 {
  height: 30%;
}

.bg-dark {
  background: #1e1d20 !important;
}

.light-text {
  color: #dfdfdb !important;
}

.grey-text {
  color: #716D75 !important;
}

.padding {
  padding: 10px 0 0 0 !important;
}

.pr5 {
  padding-right: 5px !important;
}

.app-bg {
  background: #EEEEEE;
}

.app-bg1 {
  background: #DFDFDB;
}
.mh245{
  max-height: 245px;
}
.mh200{
  max-height: 200px;
}
.no-padding{
  --start-padding:0px;
  --inner-padding-end:0px;
}
.mtb{
  margin-top: 10px;
margin-bottom: 10px;
}