<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button  routerLink="/home" routerDirection="back">
        <ion-icon class="dark-text" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="fd-col ion-text-center">
      <ion-icon name="dine-in"></ion-icon>
      <ion-label>Dine-In</ion-label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="top-main-div">
    

    <div class="selection-div">
      <form FormGroup="SelectionForm">
        <ion-accordion-group #accordionGroup class="ion-margin">
          <ion-accordion value="first">
            <ion-item slot="header" class="fs14">
              <ion-label slot="start">Where to eat?</ion-label>
              <ion-label slot="end" class="fd-row fs12"
                >Royal Island
                <ion-icon name="location-outline"></ion-icon>
              </ion-label>
            </ion-item>
            <div class="mh245" slot="content">
              <ion-item lines="none">
                <ion-label slot="end">Awesome Label</ion-label>
              </ion-item>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" class="fs14">
              <ion-label slot="start">When?</ion-label>
              <ion-label slot="end" class="fd-row fs12"
                >{{date | date:'E'}} | {{date | date:'mediumDate'}}
                <ion-icon name="location-outline"></ion-icon>
              </ion-label>
            </ion-item>
            <div slot="content">
                <ion-datetime color="success" display-format="DD.MM.YYYY HH:mm" (ionChange)="dateChange($event)" hourCycle="12h"></ion-datetime>
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" class="fs14">
              <ion-label slot="start">Number of seats</ion-label>
              <ion-label slot="end" class="fd-row fs12">
                <ion-icon id="seat" name="seat"></ion-icon>
                x {{selectedSeats}}
              </ion-label>
            </ion-item>
            <div class="mh245" slot="content">
              <ion-item lines="none" [ngStyle]="{'--background':selectedSeats === seat? 'lightgray' : 'none'}" (click)="selectSeats(seat)" class="fs14" *ngFor="let seat of [1,2,3,4,5,6,7,8,9]">
                <ion-label slot="end" class="fd-row fs12">
                  <ion-icon id="seat" name="seat"></ion-icon>
                  x {{seat}}
                </ion-label>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <div class="ion-padding">
          <ion-button (click)="filterRes()"> Check restaurants </ion-button>
        </div>
      </form>
    </div>
  </div>
  <br />
  <restaurants [restaurants]="restaurants"></restaurants>
</ion-content>