.top-main-div {
    height: auto;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 11px 24px 0px #182d361a;
    display: flex;
    flex-direction: column;
    align-items: center;

    ion-header {
        ion-toolbar {
            --background: #dfdfdb;

            ion-buttons {
                position: absolute;
            }

            ion-icon {
                font-size: 30px;
                margin: 5px 0 0 0;
            }

            ion-label {
                font-size: 16px;
            }
        }
    }

    .selection-div {
        width: 90%;
    }

    ion-button {
        --background: #1e1d20;
        height: 45px;
        width: 100%;
        --border-radius: 2px 2px 22px 2px;
    }
}

.bottom-main-div {
    overflow-y: scroll;

    .filters-div {
        display: flex;
        overflow-x: scroll;
        align-items: flex-start;
        gap: 16px;

        div {
            display: flex;
            align-items: center;

            ion-label {
                color: #1e1d20;
                font-size: 12px;
            }

            ion-icon {}
        }
    }

    ion-list {
        background-color: #dfdfdb;

        .restaurant-detail {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: 16px;

            .restaurant-detail-sub-div {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                .restaurant-name {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start !important;

                    ion-label {
                        font-size: 14px;
                    }
                }
            }

            img {
                height: 150px;
                width: 120px;
                border-radius: 4px;
            }

            ion-chip {
                width: fit-content;
                height: 16px;
                font-size: 10px;
                background: rgba(30, 29, 32, 0.05);
                border-radius: 4px;
                color: #716d75;
                font-weight: 400;
            }

            ion-text {}
        }
    }
}

ion-accordion {
    font-size: 14px;

    ion-item {
        --background: #dfdfdb;
        --padding-start: 5px;
        --inner-padding-end: 5px;
        font-size: 14px;
    }

    div {
        overflow-y: scroll !important;
        height: auto;
        max-height: 245px;
        box-shadow: 0px 1px 0px 0px #182d3633;
        background: #f2f2ef;

        ion-item {
            --padding-start: 5px;
            --inner-padding-end: 5px;
            font-size: 14px;
            --background: #f2f2ef;
        }
    }
}

#seat {
    width: 18.5px;
    height: 22.5px;
}