<ion-content>
  <div class="top-main-div">
    <ion-header class="ion-no-border">
      <ion-toolbar class="ion-no-border">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/home" mode="md"></ion-back-button>
        </ion-buttons>
        <div class="fd-col ion-text-center">
          <ion-icon name="dine-in"></ion-icon>
          <ion-label>Dine-In</ion-label>
        </div>
      </ion-toolbar>
    </ion-header>

    <div class="selection-div">
      <form FormGroup="SelectionForm">
        <ion-accordion-group class="ion-margin">
          <ion-accordion value="first">
            <ion-item slot="header" class="fs14">
              <ion-label slot="start">Where to eat?</ion-label>
              <ion-label slot="end" class="fd-row fs12"
                >Royal Island
                <ion-icon name="location-outline"></ion-icon>
              </ion-label>
            </ion-item>
            <div slot="content">
              <ion-item lines="none">
                <ion-label slot="end">Awesome Label</ion-label>
              </ion-item>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" class="fs14">
              <ion-label slot="start">When?</ion-label>
              <ion-label slot="end" class="fd-row fs12"
                >Fri | Oct 30, 2022
                <ion-icon name="location-outline"></ion-icon>
              </ion-label>
            </ion-item>
            <div slot="content"></div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" class="fs14">
              <ion-label slot="start">Number of seats</ion-label>
              <ion-label slot="end" class="fd-row fs12">
                <ion-icon id="seat" name="seat"></ion-icon>
                x 3
              </ion-label>
            </ion-item>
            <div slot="content"></div>
          </ion-accordion>
        </ion-accordion-group>
        <div class="ion-padding">
          <ion-button> Check restaurants </ion-button>
        </div>
      </form>
    </div>
  </div>
  <br />
  <restaurants [restaurants]="restaurants"></restaurants>
</ion-content>