<ion-header class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <ion-buttons slot="start">
      <ion-button >
        <ion-icon class="dark-text" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="fd-col ion-text-center">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Wellbeing</ion-label>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="top-main-div">


    <div class="selection-div">
      <form FormGroup="SelectionForm">
        <ion-accordion-group #accordionGroup class="ion-margin">
          <ion-accordion value="first">
            <ion-item slot="header" class="fs14">
              <ion-label slot="start">Where to attend?</ion-label>
              <ion-label slot="end" class="fd-row fs12">{{selectedLocation}}
                <ion-icon name="location-outline"></ion-icon>
              </ion-label>
            </ion-item>
            <div class="mh245" slot="content">
              <ion-item lines="none" [ngStyle]="{'--background':selectedLocation === location? 'rgb(209,209,207)' : 'none'}"
                (click)="selectLocation(location)" class="fs14" *ngFor="let location of locations">
                <ion-label slot="end" class="fd-row fs12">
                  {{location}}
                </ion-label>
              </ion-item>
            </div>
          </ion-accordion>
          <ion-accordion value="second">
            <ion-item slot="header" class="fs14">
              <ion-label slot="start">When?</ion-label>
              <ion-label slot="end" class="fd-row fs12">{{date | date:'E'}} | {{date | date:'mediumDate'}}
              </ion-label>
            </ion-item>
            <div slot="content" class="mh245">
              <ion-datetime [presentation]="showTime?'date-time':'date'" color="success"
                display-format="DD.MM.YYYY HH:mm" (ngModelChange)="dateChange($event)" hourCycle="12h">
                <ion-radio-group class="fd-row" allowEmptySelection="true" slot="buttons">
                  <ion-radio color="success" mode="md" (click)="toggleTime()" aria-checked="true"></ion-radio>
                  &nbsp;&nbsp;
                  <ion-label>Select Time</ion-label>
                </ion-radio-group>
              </ion-datetime>
            </div>
          </ion-accordion>
          <ion-accordion value="third">
            <ion-item slot="header" class="fs14">
              <ion-label slot="start">Attendees</ion-label>
              <ion-label slot="end" class="fd-row fs12">
                <ion-icon id="person" name="human"></ion-icon>
                x {{selectedSeats}}
              </ion-label>
            </ion-item>
            <div class="mh245" slot="content">
              <ion-item lines="none" [ngStyle]="{'--background':selectedSeats === seat? 'rgb(209,209,207)' : 'none'}"
                (click)="selectSeats(seat)" class="fs14" *ngFor="let seat of [1,2,3,4,5,6,7,8,9]">
                <ion-label slot="end" class="fd-row fs12">
                  <ion-icon id="person" name="human"></ion-icon>
                  x {{seat}}
                </ion-label>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
        <div class="ion-padding">
          <ion-button > Check wellbeings</ion-button>
        </div>
      </form>
    </div>
  </div>
  <br />
  <resorts [resorts]="resorts"></resorts>
</ion-content>
