<div class="container">
<div class="btn-div">
 <ion-buttons >
  <ion-button class="grey-text " (click)="global.closeModal()">
    <ion-icon  name="close-outline" class="dark-text"></ion-icon>
  </ion-button>
 </ion-buttons>
 
</div>
<div class="title-div">
  <ion-label class="fs20 fw600">Edit Reservation</ion-label>
</div>
<ion-accordion-group #accordionGroup class="ion-margin">
  <ion-accordion value="first">
    <ion-item slot="header" class="fs14 mt20">
      <ion-label slot="start" class="grey-text">Date</ion-label>
      <p>
        <ion-label slot="end" class="green-text fw700 ion-no-matgin pr5">Today</ion-label>
        <ion-label slot="end" class="fw600">Fri | Oct 30, 2022</ion-label>
      </p>
    </ion-item>
    <div slot="content" class="mh200">
      <ion-datetime [presentation]="showTime?'date-time':'date'" color="success" display-format="DD.MM.YYYY HH:mm"
        (ngModelChange)="dateChange($event)" hourCycle="12h">
      </ion-datetime>
    </div>
  </ion-accordion>
  <ion-accordion value="second">
    <ion-item slot="header" class="fs14 mt20" lines="full">
      <ion-label slot="start" class="grey-text">Time</ion-label>
      <div class="time-div m0" slot="end" [hidden]="selectTime" (click)="onClick()">
        6:15 PM
      </div>
    </ion-item>
    <div slot="content" class="ion-padding mh200">
      <ion-item class="no-padding" lines="none">
        <ion-label position="stacked" class="grey-text">10 AM - 3 PM</ion-label>
        <div class="r">
          <div *ngFor="let item of [1,2,3,4,5,6,7,8,9]" class="time-div mtb">10:00 AM</div>
        </div>
      </ion-item>
      <ion-item class="no-padding" lines="none">
        <ion-label position="stacked" class="grey-text">6 AM - 3 PM</ion-label>
        <div class="r">
          <div *ngFor="let item of [1,2,3]" class="time-div mtb">6:00 AM</div>
        </div>
      </ion-item>
      <ion-item class="no-padding" lines="none">
        <ion-label position="stacked" class="grey-text">1 AM - 8 PM</ion-label>
        <div class="r">
          <div *ngFor="let item of [1,2,3,4,5,6,7,8,9]" class="time-div mtb">1:00 AM</div>
        </div>
      </ion-item>
    </div>
  </ion-accordion>
  <ion-accordion value="third">
    <ion-item slot="header" class="fs14 mt20" lines="full">
      <ion-label slot="start" class="grey-text">Number of seats</ion-label>
      <ion-label slot="end" class="fd-row fs12">
        <ion-icon id="seat" name="seat"></ion-icon>
        x {{selectedSeats}}
      </ion-label>
    </ion-item>
    <div class="mh200 " slot="content">
      <ion-item lines="none" [ngStyle]="{'--background':selectedSeats === seat? 'rgb(209,209,207)' : 'none'}"
        (click)="selectSeats(seat)" class="fs14" *ngFor="let seat of [1,2,3,4,5,6,7,8,9]">
        <ion-label slot="end" class="fd-row fs12">
          <ion-icon id="seat" name="seat"></ion-icon>
          x {{seat}}
        </ion-label>
      </ion-item>
    </div>
  </ion-accordion>
  <div class="btns-div">
    <ion-button  class="w100 fs14 fw600 light-text"(click)="global.closeModal()" > Confirm </ion-button>
    <ion-button fill="clear" class="w100 fs14 fw600 dark-text" (click)="cancelOrder()" id="btn-outline"> Cancel the order </ion-button>
  </div>
</ion-accordion-group>
</div>  